extends layout/base 
block content 
    section.content-header 
        h1 Главная
        ol.breadcrumb 
            li.active Главная 
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Множитель баланса
                .box-tools.pull-right
                    button.btn.btn-info.pull-right#multiplier_save Сохранить
            .box-body
                .has-error
                    .help-block#error
                .has-success
                    .help-block#success
                .input-group
                    span.input-group-addon Множитель
                    input.form-control( type='number', placeholder='Введите множитель..', name='balance_multiplier', value= ( locals.multiplier || 1 ), step=0.1, min=1 )
        
        .box#regbonus
            .box-header.with-border
                h3.box-title
                    | Бонус при регистрации
                .box-tools.pull-right
                    button.btn.btn-info.pull-right#regbonus_save Сохранить
            .box-body
                .has-error
                    .help-block#error
                .has-success
                    .help-block#success
                .input-group
                    span.input-group-addon Бонус
                    input.form-control( type='number', placeholder='Введите размер бонуса..', name='regbonus', value= ( locals.register_bonus || 1 ), step=1, min=0 )