@media screen and (max-width: 1000px) {
    .header {
        height: 70px;

        &__logo {
            display: none;
        }

        &__nav {
            margin-left: 15px;
            position: relative;
    
            &-btn {
                cursor: pointer;

                display: block;
                position: relative;
                width: 67px;
                height: 58px;
                box-shadow: 0px 0px 11px 12px rgba(0,0,0,0.3);
                background: #06af5a;

                > div {
                    height: 4px;
                    width: 26px;
                    background: white;
                    border-radius: 2px;
                    position: absolute;
                    top: calc( 50% - 2px );
                    left: calc( 50% - 13px );

                    &:first-child {
                        top: calc( 50% - 2px + 8px );
                    }

                    &:last-child {
                        top: calc( 50% - 2px - 8px );
                    }
                }
            }

            &-btn:hover {
                ul {
                    display: flex;
                }

                .header__nav-btn {
                    box-shadow: none;
                }
            }

            &:hover {
                ul {
                    display: flex;
                }

                .header__nav-btn {
                    box-shadow: none;
                }
            }

            ul {
                top: 0;
                left: 0;
                position: absolute;
                display: none;
                background: #06af5a;
                box-shadow: 0px 0px 11px 12px rgba(0,0,0,0.3);
                flex-direction: column;
                margin: 0;
                padding: 16px;
                z-index: 300;

                li {
                    margin-right: 0;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &__profile {
            &-avatar {
                width: 55px;
                height: 55px;
            }

            &-name {
                font-size: 18px;
            }

            &-balance {
                margin-top: 3px;
            
                .btn {
                    font-size: 9px;
                    width: 95px;
                }
            }

            &-amount {
                font-size: 12px;
                margin-left: 10px;
            }

            &-login {
                font-size: 13px;
                width: 209px;
                height: 34px;
            }
        }
    }

    .live {
        &__games {
            &-item {
                width: 96px;
                height: 44px;
                display: none;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: block;
                }

                &:nth-child(4) {
                    margin-right: 0;
                }
            }
        }

        &__stats {
            left: 15px;
            font-size: 12px;
            width: 250px;
            height: 25px;
            bottom: -12px;

            &-online {
                height: 9px;
                width: 9px;
                margin-left: 5px;
            }
        }
    }

    .stats {
        margin-top: 40px;
        margin-bottom: 40px;

        &__hints {
            font-size: 12px;

            &-left,
            &-right {
                padding: 10px;
            }
        }

        &__content {
            margin-top: 20px;
            width: calc( 100% - 80px );
        }
        
        &__info {
            margin-right: 0;
            display: block;

            &-num {
                font-size: 37px;
            }

            &-title {
                font-size: 11px;
                margin-left: 0;
                width: 80px;
            }
        }
    }

    .rullet {
        height: 380px;

        &__arrow {
            transform: scale(0.5);

            &-top {
                top: 23px;
            }

            &-bottom {
                transform: scale(0.5) rotate(180deg);
                top: 132px;
            }
        }

        &__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url('/assets/img/rullet_bg.png') 50% 0% no-repeat;
            top: 13px;
        }

        &__border {
            left: calc( 100% / 2 - 455px );
            height: 900px;
            width: 900px;
            border: 5px solid #07b25c;
        }

        &__circle {
            border: 5px solid #07b25c;
            height: 680px;
            width: 680px;
        }

        &__item {
            height: 73px;
            width: 73px;
            transform-origin: 50% 435px 0;
            top: 15px;
        }
    
        &__controls {
            margin-top: 240px;

            &-buy {
                width: 230px;
                height: 40px;
                font-size: 15px;
            }
        }
    }

    .cabinet {
        &__balance {
            &-title {
                font-size: 12px;
            }

            &-form {
                width: 163px;
                height: 30px;
                
                input {
                    font-size: 10px;
                }

                button {
                    font-size: 22px;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &__profile {
            &-avatar {
                width: 42px;
                height: 42px;
                margin-left: 10px;
            }

            &-name {
                font-size: 14px;
            }

            &-logout {
                font-size: 10px;
                margin-top: 10px;
            }
        }

        &__wins {
            margin-bottom: 30px;

            &-title {
                font-size: 12px;
            }

            &-container {
                
                flex-direction: column;
                font-size: 11px;
            }
            &-item {
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }

        &__row {
            &-none {
                display: none;
            }
        }
    }

    .terms {
        &__container {
            margin-top: 30px;
            margin-bottom: 30px;

            p {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    .win {
        &__info {
            &-price {
                font-size: 14px;
            }

            &-platform {
                height: 32px;
                width: 32px;
            }
        }

        &__code {
            font-size: 19px;
        }
    }

    .chance {
        &__item {
            width: 182px;

            &-img {
                width: 182px;
                height: 73px;

                &-container {
                    width: 161px;
                    height: 55px;
                }
            }

            &-title {
                font-size: 12px;
            }

            &-price {
                font-size: 9px;
                line-height: 17px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(4n) {
                margin-right: unset;
            }
        }
    }

    .popup {
        &__close {
            font-size: 9px;
            width: 113px;
            height: 19px;
        }
    }
}