@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
@import './vendor/normalize';
@import './vendor/magnific-popup';
@import './vendor/variables';

body {
    color: $colorDark;
    background: $colorLight url('/assets/img/pattern_bg.png') 50% 50% repeat;
    min-height: 100vh;
    font-weight: $fontRegular;
    font-family: $fontFamily;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

button,
button:active,
button:focus {
    border: none;
    outline: none;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $fontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ttl {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 20px;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@import './app/primary';
@import './media';