.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc( 100vh - 110px );
}

@import './components/helpers';
@import './components/header';
@import './components/live';
@import './components/stats';
@import './components/rullet';
@import './components/popup';
@import './components/cabinet';