.cabinet {
    width: 1000px;

    &__row {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        > div {
            width: 100%;
        }
    }

    &__text {
        font-weight: $fontMedium;
        font-size: 16px;
        color: #666;
        box-sizing: border-box;

        &:first-child {
            padding-right: 50px;
        }

        &:last-child {
            padding-left: 15px;
        }
    }

    &__wins {
        margin-top: 30px; 
        margin-bottom: 40px;

        &-item {

            cursor: pointer;

            border: 2px solid transparent;
            min-width: 110px;
            max-width: 110px;

            height: 50px;
            margin-right: 15px;
            position: relative;




            &-arrow {

                min-width: 54px;
                height: 54px;

                cursor: pointer;
                background: url(/assets/img/l-arrow.png) no-repeat;
                background-position: center;
                opacity: .5;

                &:hover {

                    opacity: 1;
                }

                &#left_arrow {
                    margin-right: 15px;
                }
    
                &#right_arrow {
                    background: url(/assets/img/r-arrow.png) no-repeat;
                    background-position: center;
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            &:hover {
                border: 2px solid $colorGreenLight;
            }

            &:hover > &-hint {

                display: inline-table;
            }

            &-hint {
                display: none;
                position: absolute;
                border-radius: 10px;
                line-height: 13px;
                font-weight: $fontMedium;
                font-size: 8px;
                color: $colorLight;
                padding: 0 13px;
                top: calc( 100% - 1px );
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 100;
                background: rgba(0,0,0,0.5);
    
                &:before {
                    content: '';
                    position: absolute;
                    border: 5px solid transparent;
                    border-bottom: 5px solid rgba(0,0,0,0.5);
                    top: -10px;
                    left: calc( 50% - 5px );
                }
            }
            
        }

        &-title {
            font-weight: $fontMedium;
            font-size: 20px;
        }

        &-container {
            transition: .5s opacity;

            display: flex;

            align-items: center;
            justify-content: center;
            margin-top: 30px;
            font-weight: $fontMedium;
            font-size: 16px;
            text-align: center;

            &[loading="true"] {

                opacity: .1;
            }
        }
    }

    &__balance {

        &-title {
            font-size: 20px;
            font-weight: $fontMedium;
        }

        &-form {
            margin-top: 18px;
            width: 307px;
            height: 57px;
            position: relative;

            input {
                box-sizing: border-box;
                width: 100%;
                border-radius: 10px;
                background: #353d40;
                font-size: 20px;
                font-weight: $fontMedium;
                height: 100%;
                border: none;
                color: white;
                padding: 0 15px;

                &::placeholder {
                    opacity: 1;
                }
            }

            button {
                border-radius: 10px;
                background: $colorGreenLight;
                font-size: 41.85px;
                font-weight: $fontMedium;
                position: absolute;
                right: 0;
                top: 0;
                height: 57px;
                width: 57px;
                color: white;
                cursor: pointer;
            }
        }
    }

    &__profile {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        align-self: flex-end;
        margin-right: 16px;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        &-name {
            font-size: 24px;
            font-weight: $fontBold;
            color: $colorLight;
        }

        &-logout {
            margin-top: 19px;
            text-decoration: underline;
            font-weight: $fontMedium;
            font-size: 16px;
            color: $colorLight;
        }

        &-avatar {
            box-sizing: border-box;
            overflow: hidden;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background: $colorLight;
            margin-left: 25px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}