.header {
    width: 100%;
    height: 110px;
    background: $colorGreenLight url('/assets/img/pattern_header.png') 50% 50% repeat;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        text-transform: uppercase;
        font-size: 30px;
        color: $colorLight;
        font-weight: bold;

        .color_dark {
            margin-right: 3px;
        }
    }

    &__nav {
        &-btn {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            list-style: none;

            li {
                margin-right: 24px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    &__profile {


        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-right: 16px;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        &-name {
            font-size: 24px;
            font-weight: $fontBold;
            color: $colorDark;
        }

        &-balance {
            margin-top: 12px;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &-amount {
            font-size: 16px;
            color: $colorLight;
            margin-left: 20px;
            font-weight: $fontMedium;
        }

        &-avatar {
            
            cursor: pointer; 

            box-sizing: border-box;
            overflow: hidden;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            border: 2px solid $colorGreenDark;
            background: $colorLight;
            margin-left: 8px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        &-login {
            font-weight: $fontBold;
            font-size: 14.75px;
            width: 234px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 19.5px;
            height: 40px;
            position: relative;
            z-index: 5;

            &:before,
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: inherit;
                left: 0;
                top: 0;
                background: $colorLight;
                position: absolute;
                z-index: -5;
            }

            &:before {
                top: 3px;
                background: $colorGrey;
                z-index: -10;
            }
        }
    }
}