.color {
    &_dark {
        color: $colorDark;
    }

    &_light {
        color: $colorLight;
    }

    &_green {
        color: #00cc66;
    }
}

.btn {
    border-radius: 12px;
    background: $colorLight;
    font-size: 12px;
    width: 124px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: $fontMedium;

    &-bg  {

        &_accent {

            &::before {
                background: $colorAccentDark !important;
            }
    
            &::after  {
                background: $colorAccent !important;    
            }
        }
    }

    &-wide {
        margin-top: 24px !important;
        width: auto !important;
        height: auto !important;
        padding: 10px 20px;
        line-height: 1.25;
    }
}


