.live {
    margin: 28px 0;
    height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #ededed 0%, $colorLight 100%);

    &__games {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-item {
            width: 110px;
            height: 50px;
            background: $colorGrey;
            margin-right: 15px;
            position: relative;

            // &:first-child {
            //     border: 4px solid #40f299;
            //     border-color: linear-gradient( 45deg, $colorGreenLight, $colorGreenDark);
            // }
            &:last-child {
                margin-right: 0px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            &:hover > &-hint {
                display: inline-table;
            }

            &-hint {
                display: none;
                position: absolute;
                border-radius: 10px;
                line-height: 13px;
                font-weight: $fontMedium;
                font-size: 8px;
                color: $colorLight;
                padding: 0 13px;
                top: calc( 100% - 1px );
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 100;
                background: rgba(0,0,0,0.5);
    
                &:before {
                    content: '';
                    position: absolute;
                    border: 5px solid transparent;
                    border-bottom: 5px solid rgba(0,0,0,0.5);
                    top: -10px;
                    left: calc( 50% - 5px );
                }
            }
        }
    }

    &__stats {
        position: absolute;
        background: $colorGreenLight;
        font-size: 16px;
        font-weight: $fontSemiBold;
        border-radius: 17.5px;
        color: $colorLight;
        height: 35px;
        width: 340px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        bottom: -22px;
        left: 30px;

        &-online {
            background: $colorGreenLighter;
            border-radius: 50%;
            height: 12px;
            width: 12px;
            box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.14);
            margin-left: 13px;
        }
    }
}