.popup {
    width: 500px;
    max-width: 100%;
    margin: 10px auto;
    background: $colorDark;
    color: $colorLight;
    border-radius: 20px;
    padding: 27px;
    box-sizing: border-box;

    &-container {
        margin: 20px auto;
        max-width: calc( 100% - 40px );
    }

    &__title {
        width: 100%;
        text-align: center;
        font-weight: $fontMedium;
        font-size: 20px;
    }

    &__close {
        cursor: pointer;
        margin: 0 auto;
        color: $colorLight;
        font-weight: $fontSemiBold;
        font-size: 18px;
        width: 228px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 19.5px;
        height: 40px;
        position: relative;
        z-index: 5;

        &:before,
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: inherit;
            left: 0;
            top: 0;
            background: #07bf63;
            position: absolute;
            z-index: -5;
        }

        &:before {
            top: 3px;
            background: #008d2f;
            z-index: -10;
        }
    }
}

.terms {
    width: 560px;
    overflow-y: scroll;
    max-height: 600px;
    
    &__container {
        margin-top: 40px;
        margin-bottom: 40px;

        p {
            // font-weight: $fontMedium;
            font-size: 14px;
            margin-bottom: 15px;
            color: #c7c7c7;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.win {
    &__game {
        height: 231px;
        width: 231px;
        border-radius: 50%;
        overflow: hidden;
        margin: 30px auto;
        background: black;

        border: 2px solid #07bf63; 
        box-sizing: border-box;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-platform {
            margin-right: 15px;
            height: 40px;
            width: 40px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        &-price {
            font-weight: $fontSemiBold;
            font-size: 17px;
            margin-right: 8px;
        }
    }

    &__code {
        font-weight: $fontSemiBold;
        font-size: 24px;
        text-align: center;
        margin-top: 35px;
    }
}

.chance {
    width: 1013px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;

        &:after {
            content: "";
            flex: auto;
        }
    }

    &__item {
        width: 230px;
        position: relative;
        margin-right: 0px;
        margin-bottom: 25px;

        &:nth-child(4n) {
            margin-right: 0px;
        }
        
        &-img {
            width: 100%;
            height: 92px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #353d40;

            &-container {
                width: 200px;
                height: 70px;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-price {
            border-radius: 10px;
            background: rgba(7,191,99, 0.7);
            font-weight: $fontMedium;
            font-size: 11px;
            line-height: 22px;
            padding: 0 17px;
            top: 0;
            left: 0;
            position: absolute;
        }

        &-title {
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: $fontMedium;
            margin-top: 10px;
        }
    }
}

#winner_warn {
    margin-top: 24px;
    width: auto;
    height: auto;
    padding: 10px 20px;
    line-height: 1.25;
}