.rullet {
    width: 100%;
    height: 460px;
    position: relative;

    &__container {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__border {
        box-shadow: 0px 0px 32px 17px rgba(0,0,0,0.16);
        border: 10px solid #07b25c;
        border-radius: 50%;
        height: 1800px;
        width: 1800px;
        position: absolute;
        left: calc( 100% / 2 - 910px);
        right: 0;
        top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        background: white;
    }

    &__circle {
        border: 10px solid #07b25c;
        border-radius: 50%;
        height: 1363px;
        width: 1363px;
        background: white;
    }

    &__items-container {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        height: 100%;
        left: 0;
    }

    &__item {
        transform-origin: 50% 865px 0;
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 3px solid #ccc;
        box-shadow: 0px 0px 17px 21px rgba(0,0,0,0.07);
        background: $colorLight;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 34px;
        left: 0;
        right: 0;
        margin: 0 auto;

        &-img {
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    &__arrow {
        width: 129px;
        height: 43px;
        background: url('/assets/img/arrow.png') 50% 50% no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;

        &-top {
            top: 24px;
        }

        &-bottom {
            top: 247px;
            transform: rotate(180deg);
        }
    }

    &__controls {
        margin: 0 auto;
        margin-top: 327px;
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 50;

        &-helper {
            margin-bottom: 8px;
            font-size: 14px;
            color: gray;
        }
        
        &-buy {
            cursor: pointer;
            width: 340px;
            height: 57px;
            color: $colorLight;
            font-weight: $fontBold;
            font-size: 21.43px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 19.5px;
            position: relative;
            z-index: 5;

            &:before,
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: inherit;
                left: 0;
                top: 0;
                background: $colorGreenLight;
                position: absolute;
                z-index: -5;
            }

            &:before {
                top: 4px;
                background: $colorGreenDark;
                z-index: -10;
            }

            &[disabled] {
                opacity: .5;
            }
        }

        &-info {
            color: #7b7b7b;
            text-decoration: underline;
            font-weight: $fontRegular;
            font-size: 12.22px;
            margin-top: 24px;
            cursor: pointer;
            background: transparent;
        }
    }
}