.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 75px;
    
        &:last-child {
            margin-right: 0;
        }

        &-num {
            font-weight: $fontSemiBold;
            font-size: 72px;
        }

        &-title {
            font-size: 21px;
            font-weight: $fontBold;
            color: $colorGreenMedium;
            margin-left: 35px;
            width: 135px;
        }
    }

    &__hints {
        width: 100%;
        font-size: 14px;
        font-weight: $fontMedium;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        &-left,
        &-right {
            background: $colorGreenLight;
            color: $colorLight;
            padding: 15px;
        }
    }
}