<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(http-equiv='Content-Language', content='ru-RU')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='viewport', content='width=480')
        title= locals.page || 'Рандомные Steam ключи GOODGAMES | Крути рулетку — испытай удачу!'
        link(rel='shortcut icon', href='/favicon.png')

        //- meta(name='description', content='Лучшие рандомные ключи стим от GOODGAMES! Спеши прокрутить рулетку — испытай удачу и получи GTA 5, CS:GO, FarCry 5 и другие игры за 59₽!')

        link(rel='stylesheet', href='/assets/css/style.css')
