-
    var formatNumber = ( number, symbol ) => ( number || 0 ).toLocaleString( 'ru' ).split( ',' ).join( ' ' );


header.header
    .container.header__container
        a.header__logo(href='/')
            span.color_dark Good
            | Games

        nav.header__nav
            button.header__nav-btn
                div
                div
                div
            ul
                li
                    button#terms-link.btn Условия
                li
                    a.btn( href='https://vk.com/smallhector'  target="_blank" ) Помощь
                li
                    a.btn( href='https://vk.com/goodgms'  target="_blank" ) Группа ВК
        
        .header__profile
            - if( locals.user )
                .header__profile-info
                    .header__profile-name= locals.user.name
                    .header__profile-balance
                        button.cabinet-link.btn Пополнить
                        .header__profile-amount= formatNumber( locals.user.balance ) + '₽' 
                .header__profile-avatar.cabinet-link
                    img( src=locals.user.avatar )
            - else
                a.btn.header__profile-login(  href='/auth/login' ) Вход / Регистрация
