extends ../layout/base 
block content 
    section.content-header 
        h1 Управление ключами
        ol.breadcrumb 
            li 
                a(href='/management') 
                    i.fa.fa-dashboard Главная
            li.active Управление ключами

    
    section.content
        .box
            .box-header.with-border
                h3.box-title Добавить ключи

            .box-body
                .has-error
                    .help-block#error
                    
                .has-success
                    .help-block#success

                label Список ключей
                textarea.form-control( type='text', placeholder='Введите список ключей\nНовый ключ — новая строка. Пустые строки автоматически удаляются!', name="keys", style="resize: none; height: 240px;" )
                br
                label Игры
                select.form-control#games_select(multiple='', style='height: 240px;')
                    each game in locals.games
                        - if( game.isTwisted )
                            option.bg-yellow( value=game.id )= '[ В ПОДКРУТКЕ ] ' + game.title
                        - else
                            option( value=game.id )= game.title

            .box-footer
                button.btn.btn-info.pull-right#add_keys Добавить
                button.btn.btn-default.pull-right#select_twisted(style='margin-right: 10px;') Выделить подкрутку