extends ../layout/base 
block content 
    section.content-header 
        h1 Пользователи
        ol.breadcrumb 
            li 
                a(href='/management') 
                    i.fa.fa-dashboard Главная
            li.active Пользователи

    
    section.content
        .row
            .col-sm-6.col-xs-12
                .info-box
                    span.info-box-icon.bg-aqua
                        i.fa.fa-users
                    .info-box-content
                        span.info-box-text Пользователей
                        span.info-box-number= locals.counters.documents
                    // /.info-box-content
            

        include userstable

        .box
            .box-header.with-border
                h3.box-title Поиск
            .box-body
                | Добавлю чуть позже.
