extends ../layout/base
block content 

    script='var PROFILE = ' + locals.profile.id

    section.content-header 
        h1= locals.profile.name
        ol.breadcrumb 
            li 
                a(href='/management') 
                    i.fa.fa-dashboard Главная
            li
                a(href='/management/users') 
                    i.fa.fa-dashboard Пользователи
            li.active= locals.profile.name
                
    
    section.content

        .row
            .col-md-5
                // Widget: user widget style 1
                .box.box-widget.widget-user
                    // Add the bg color to the header using any of the bg-* classes
                    .widget-user-header.bg-aqua-active
                        h3.widget-user-username= locals.profile.name
                    .widget-user-image
                        img.img-circle(src=locals.profile.avatar, alt='User Avatar')
                    .box-footer
                        .row
                            .col-sm-4.border-right
                                .description-block
                                    h5.description-header= locals.profile.balance
                                    span.description-text БАЛАНС
                                // /.description-block
                                // /.col
                            .col-sm-4.border-right
                                .description-block
                                    h5.description-header -
                                    span.description-text КЕЙСЫ
                                    // /.description-block
                                    // /.col
                            .col-sm-4
                                .description-block
                                    h5.description-header -
                                    span.description-text РЕФЕРАЛОВ
                                // /.description-block
                                // /.col
                                // /.row
                                // /.widget-user
            .col-md-7
                .box.box-danger
                    .box-header.with-border
                        h3.box-title Редактировать
                    .box-body
                        .has-error
                            .help-block#error
                        
                        .has-success
                            .help-block#success

                        .input-group
                            span.input-group-addon Баланс
                            input.form-control( type='number', placeholder='Баланс', name='balance', value=locals.profile.balance )
                        br
                        .input-group
                            - var role = locals.profile.role || 'Default';

                            span.input-group-addon Роль
                            select.form-control(  name='role'  )
                                option( value='Default' selected=role=='Default' ) Пользователь
                                option( value='Administrator' selected=role=='Administrator' ) Администратор
                        br
                        .input-group
                            .checkbox
                                label
                                    input( type='checkbox', name='isTwisted', checked=locals.profile.isTwisted )
                                    | Подкрутка

                    .box-footer
                        button.btn.btn-info.pull-right#user_submit Сохранить




                    // /.box-body


        //- .row
        //-     .col-sm-6.col-xs-12
        //-         .info-box
        //-             span.info-box-icon.bg-aqua
        //-                 i.fa.fa-users
        //-             .info-box-content
        //-                 span.info-box-text Пользователей
        //-                 span.info-box-number= locals.usersBox.totalCount
        //-             // /.info-box-content
            

        //- include userstable

        //- .box
        //-     .box-header.with-border
        //-         h3.box-title
        //-             | Title
        //-         .box-tools.pull-right
        //-             button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
        //-                 i.fa.fa-minus
        //-             button(type='button', data-widget='remove', data-toggle='tooltip',title='Remove').btn.btn-box-tool
        //-                 i.fa.fa-times
        //-     .box-body
        //-         | Start Creating your amazing application!
        //-     .box-footer
        //-         | Footer