-
    function sq( queryString ) {
        var query = {};
        var pairs = (queryString[0] === '?' ? queryString.substr(1) : queryString).split('&');

        if( !pairs  || pairs.length === 0 || pairs[0] === '' )
            return false;

        console.log( pairs );
        for (var i = 0; i < pairs.length; i++) {
            var pair = pairs[i].split('=');
            query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
        }
        
        return query;
    }

.row
  .col-xs-12
    .box
      .box-header
        h3.box-title= 'Таблица пользователей '
            small= 'Страница: ' + locals.pagination.current.page
        .box-tools
          .input-group.input-group-sm(style='width: 150px;')
            input.form-control.pull-right(type='text', name='table_search', value=( locals.search || '{}' ), placeholder='Search')
            .input-group-btn
              button.btn.btn-default#search_button(type='submit')
                i.fa.fa-search
      // /.box-header
      .box-body.table-responsive
        table.table.table-bordered.table-hover
          tbody
            tr
              th ID
              th Имя
              th Баланс
              th Подкрутка
              th Роль
              th Редактировать
            each user in locals.users
                tr
                    td= user.id
                    td= user.name
                    td= user.balance.toLocaleString( 'ru' ).split( ',' ).join( ' ' )
                    td 
                        - if( user.isTwisted )
                            span.label.label-success Активна
                        - else
                            span.label.label-default Отключена
                    td= user.role || 'Default'    
                    td
                        .btn-group
                            a.btn.btn-default(type='button' href='/management/users/' + user.id )
                                i.fa.fa-edit
                            //- a.btn.btn-danger(type='button')
                            //-     i.fa.fa-trash

        .box-footer.clearfix
            ul.pagination.pagination-sm.no-margin.pull-right

                - if( locals.pagination.first )
                    li
                        a( href=locals.pagination.first.href  )=locals.pagination.first.page

                - if( Array.isArray( locals.pagination.pages ) )
                    each page in locals.pagination.pages 
                        li
                            a(href=page.href)= page.page

                - if( locals.pagination.last )
                    li
                        a( href=locals.pagination.last.href )=locals.pagination.last.page
