.chance__item
    .chance__item-price= 'Цена: ' + ( item.steamPrice || '-' ) + '₽'
    .chance__item-img
        .chance__item-img-container
            img(src=item.liveImage)
    .chance__item-title= item.title