-
    var formatNumber = ( number  ) => ( number || 0 ).toLocaleString( 'ru' ).split( ',' ).join( ' ' );

include /includes/head.pug
body
    include /includes/header.pug

    .page
            
        section.container.live
            .live__games
                each item in locals.statistics.liveGames
                    include live-item.pug

            .live__stats= 'Сегодня выпало игр на: ' + formatNumber( locals.statistics.liveSum )  + ' ₽'
                .live__stats-online
        
        section.container.stats
            .stats__hints
                .stats__hints-left
                    | Магазин принадлежит
                    br
                    | известному блоггеру
                .stats__hints-right
                    | Регистрируйся и получай
                    br
                    | 19₽ на баланс
            .stats__content
                .stats__info
                    .stats__info-num#users_stat= formatNumber( locals.statistics.users )
                    .stats__info-title Испытало удачу
                .stats__info
                    .stats__info-num#reviews_stat= formatNumber( locals.statistics.reviews )
                    .stats__info-title Положительных отзывов
                .stats__info
                    .stats__info-num#games_stat= formatNumber( locals.statistics.topGames )
                    .stats__info-title Крутых игр выпало
        
        section.rullet
            #rullet.rullet__container
                .rullet__border
                    .rullet__items-container
                        each v, i in new Array( 24 )
                            include rullet-item.pug

                    .rullet__circle
                .rullet__arrow.rullet__arrow-top
                .rullet__arrow.rullet__arrow-bottom
                .rullet__controls
                    p.rullet__controls-helper( style= ( locals.user && locals.user.balance >= 59 ) ? "display: none;" : "display: block;" ) Стоимость прокрутки — 59₽
                    button.rullet__controls-buy= ( locals.user && locals.user.balance >= 59 ) ? 'Крутить за 59₽' : 'Крутить бесплатно!'
                    button#chance-link.rullet__controls-info Что можно выиграть?
        - if( locals.user ) {
            #cabinet-popup.mfp-hide.popup-container
                .popup.cabinet
                    .popup__title Личный кабинет
                    .cabinet__controls
                        .cabinet__row
                            .cabinet__balance
                                .cabinet__balance-title Пополнить баланс:
                                form.cabinet__balance-form#payment(target="_blank" action="/payments/payment/")
                                    input(placeholder='Введите сумму..', name='amount', value='99', min='0', step='1')
                                    button(type='submit', name="payment_submit") +
                            .cabinet__profile
                                .cabinet__profile-info
                                    .cabinet__profile-name= locals.user.name
                                    a.cabinet__profile-logout( href='/auth/logout' ) Выйти
                                .cabinet__profile-avatar
                                    img(src=locals.user.avatar)
                        .cabinet__row.cabinet__row-none
                            .cabinet__text
                                span.color_light Акция!
                                |  При пополнении счета на сумму от 99 рублей специально для Вас повышается шанс выпадения всех топовых игр до 89% на первое пополнение. Воспользуйтесь максимальной выгодой и возвращайтесь еще!
                                br 
                                | Напоминаем, 99 + 19 = две топ игры.
                            .cabinet__text 
                                span.color_light Внимание!
                                |  В случае, если у вас возникли проблемы при проведении платежа (средства не зачислились на счет),  
                                a( href="https://vk.com/smallhector" target="_blank" style="text-decoration: underline;") напишите в поддержку.
                                |  В обращении укажите номер операции (либо скриншот чека из почты).

                    .cabinet__wins
                        .cabinet__wins-title Ваши выигрыши
                        .cabinet__wins-container
                            - if( !locals.wins || locals.wins.length < 1 )
                                | Выигрышей пока нет
                            - else
                                .cabinet__wins-item-arrow#left_arrow
                                each win in locals.wins
                                    .cabinet__wins-item
                                        img( src= ( win.game.liveImage || win.game.image  ) )
                                        .cabinet__wins-item-hint= win.game.title
                                .cabinet__wins-item-arrow#right_arrow

                    button.popup__close Закрыть
        - }

        #terms-popup.mfp-hide.popup-container
            .popup.terms
                .popup__title Условия
                .terms__container
                    h3 1. Общие положения 
                    p 1.1. Продавец является владельцем Сайта, осуществляющим его администрирование. 
                    p 1.2. При оформлении Заказа, Покупатель принимает Условия продажи Товара (далее - Условия), которые в соответствии со ст. 435 и ч. 2 ст. 437 Гражданского Кодекса РФ являются публичной офертой. 
                    p 1.3. Все спорные вопросы решаются вне судебном порядке. 
                    p 1.4. Покупатель соглашается с Условиями нажатием кнопки «Купить» на этапе оформления Заказа на сайте. 
                    p 1.5. Товары имеют ограничения (подробнее написано в описании каждого Товара на страницах Сайта) и не предназначены для активации в некоторых странах. 
                    p 1.6. Сайт предоставляет услуги описанные в данном документе и информации, размещенной на страницах Сайта. Администрация Сайта не несет ответственность за рекламный материалы, которые были использованы Партнером для привлечения Покупателя на Сайт. 
                    p 1.7. В товарах может выпасть любая платная игра Steam (в том числе и игры из описания товара). Администрация оставляет за собой право изменять список доступных игр на свое усмотрение без дополнительного уведомления Покупателя. 
                    p 1.8. Администрация Сайта не несет ответственность за временные распродажи в Steam. Покупатель должен учитывать полную стоимость игры в Steam при анализе покупки. 
                    p 1.9. При покупке большого количества товара из категории могут выпасть одинаковые игры, но мы стараемся минимизировать эти случаи. 
                    p 1.10 Продавец обязуется доставить оплаченный товар в срок 72-ух часов с момента оплаты. 
                    p 1.11 Продавец приветствует бесконфликтное решение проблем и всегда готов обсуждать любые проблемы посредством обращений в Техническую Поддержку Покупателя. 

                    h3 2. Порядок оформления Заказа и доставка Товара 
                    p 2.1. При оформлении Заказа Покупатель должен указать электронный адрес, на который будет доставлен Товар. 
                    p 2.2. Доставка Товара осуществляется сразу же после оплаты. 
                    p 2.3. Любая информация, представленная на сайте, носит справочный характер. Для уточнения свойств и характеристик Товара, Покупатель должен обратиться к Продавцу. 
                    p 2.4. Оформление предзаказа. 
                    p 2.4.1. Продавец может предлагать лицензионный электронный ключ еще не поступившего в продажу программного продукта. Такой Товар оформляется как предзаказ. 
                    p 2.4.2. На сайте указывается срок поступления в продажу программного продукта. Указанный срок может быть изменен на основании информации, полученной от разработчика данного программного продукта. 


                    h3 3. Оплата Товара 
                    p 3.1. Цена Товара указана на сайте и может быть изменена продавцом в одностороннем порядке. 
                    p 3.2. Действующая цена указывается на последнем этапе оформления Заказа. После нажатия кнопки «Перейти к оплате», цена не может быть изменена Продавцом. 
                    p 3.3. Покупатель может выбрать любой способ оплаты из доступных при оформлении Заказа. 
                    p 3.4. Оплата банковскими картами 
                    p 3.4.1. Оплата банковской картой может осуществляться только ее владельцем, на основании положения ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 №266-П. 
                    p 3.4.2. Банк вправе отказать в осуществлении операции, если у него есть основания классифицировать данную операцию как подпадающую под действие статьи 159 УК РФ - мошенничество. 
                    p 3.4.3. Продавец имеет право отменить Заказ без объяснения причины. В этом случае стоимость Товара возвращается на банковскую карту, с которой производилась оплата. 


                    h3 4. Возврат и обмен Товара 
                    p 4.1. Товар, приобретенный Покупателем, не подлежит возврату или обмену, в случае если товар был получен. 


                    h3 5. Авторское право 
                    p 5.1. Соблюдать авторские права, установленные законодательством РФ и СНГ. Использовать Товар только в личных некоммерческих целях. 


                    h3 6. Права и обязанности сторон 
                    p 6.1. Продавец имеет право переуступать и/или передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам. 
                    p 6.2. Продавец может предоставлять Покупателю скидки и бонусы. Их виды, правила начисления и условия получения указаны на сайте в разделах «Бонус», «Промо-код» и «Скидка». 
                    p 6.3. Продавец может менять скидки и бонусы, а также правила их  начисления и условия получения в одностороннем порядке. 
                    p 6.4. Клиент обязуется использовать приобретенный Товар исключительно для личных, домашних, семейных целей, а также целей, не связанных с осуществлением коммерческой деятельности. 


                    h3 7. Прочие условия 
                    p 7.1. При возникновении вопросов, Покупатель имеет право обратиться к Продавцу по любому контакту, указанному на сайте в разделе «Помощь». 
                    p 7.2 В случае неработающего ключа или проблем с доставкой оплаченного товара покупатель в праве обратиться в техническую поддержку сайта где ему заменят товар при предоставлении доказательств бракованности ключа. 
                    p 7.3 Иногда на сайте случаются сбои и неполадки по, в какой-то мере, независящих от нас обстоятельств. (ДДОС Атаки, неполадки у сайта предоставляющего хостинг-услуги, и др.). В таком случае все оплаченные заказы по которым не пришёл товар замораживаются до полной починки сайта и восстановления его работоспособности.

                button.popup__close Закрыть

        #win-popup.mfp-hide.popup-container
            .popup.win
                .popup__title Вы выиграли
                .win__container
                    .win__game
                        img(src='/assets/img/player.jpg')
                    .win__info
                        .win__info-platform
                            img(src='/assets/img/steam.png')
                        .win__info-price= 'Цена игры в Steam: ' +  ''
                        br
                        span.color_green 123
                        |  ₽
                    .win__code XXXXX-XXXXX-XXXXX
                    a.popup__close.btn-bg_accent.btn-wide.close_btn#winner_sell Продать
                    a.popup__close.btn-wide#winner_key Получить ключ
                    a.popup__close.btn-wide.close_btn#winner_warn Закрыть
        
        #chance-popup.mfp-hide.popup-container
            .popup.chance
                .popup__title Можно выиграть:
                .chance__container
                    each item in locals.gamelist
                        include chance-item.pug
                        
                button.popup__close Закрыть

script(src='assets/js/build.js')
