- if( i * 15 !== 180)
    .rullet__item(style='transform: rotate(' + i * 15 + 'deg);')
        .rullet__item-img
            img( src='/assets/img/games/' + Math.floor( Math.random() * 9 + 1 ) + '.jpg' )
            //- img( src= item.image )
- else
    .rullet__item#win_item(style='transform: rotate(180deg);')
        .rullet__item-img
            img#win_item_image( src='/assets/img/games/' + Math.floor( Math.random() * 9 + 1 ) + '.jpg' )
            //- img#win_item_image( src= item.image ) 