
include /includes/head.pug

body
    .page
        .popup.cabinet
            .popup__title Подтверждение оплаты
            .cabinet__controls
                form(method='POST', action='https://primepayer.com/payment', style='text-align: center;')
                    p(style=' color:#00cc66; margin-bottom: 12px; font-weight: 600;')
                    p
                        | К оплате 
                        font(color='#00cc66')= Math.floor( locals.payments.amount ) + '₽'
                    p Бонусы 
                        font(color='#00cc66')= Math.floor( locals.bonus ) + '₽'
                    input(type='hidden', name='shop', value=locals.payments.shop)
                    input(type='hidden', name='payment', value=locals.payments.payment)
                    input(type='hidden', name='currency', value=locals.payments.currency)
                    input(type='hidden', name='amount', value=Math.floor( locals.payments.amount ) )
                    input(type='hidden', name='description', value=locals.payments.description)
                    input(type='hidden', name='sign', value=locals.payments.sign)
                    input(type='hidden', name='uv_user', value=locals.payments.user)
                    br
                    button.popup__close Пополнить