extends ../layout/base 
block content 
    section.content-header 
        h1 Игры
        ol.breadcrumb 
            li 
                a(href='/management') 
                    i.fa.fa-dashboard Главная
            li.active Игры

    
    section.content
        .row
            .col-sm-6.col-xs-12
                .info-box
                    span.info-box-icon.bg-yellow
                        i.fa.fa-gamepad
                    .info-box-content
                        span.info-box-text Всего игр на сайте
                        span.info-box-number= locals.counters.documents
                    // /.info-box-content
            
        include table

        .box
            .box-header
                h3 Добавить игру

            .box-body
                .has-error
                    .help-block#error
                
                .has-success
                    .help-block#success

                .input-group
                    span.input-group-addon Название игры
                    input.form-control( type='text', placeholder='Введите название игры', name='ngame_title' )
                br
                .input-group
                    span.input-group-addon Баннер
                    input.form-control( type='text', placeholder='Введите ссылку на изображение', name='ngame_image' )
                br
                .input-group
                    span.input-group-addon Картинка для лайф игр
                    input.form-control( type='text', placeholder='Введите ссылку на изображение', name='ngame_live_image' )
                br
                .input-group
                    span.input-group-addon Steam страница
                    input.form-control( type='text', placeholder='Введите ссылку на изображение', name='ngame_steamPage' )
                br
                .input-group
                    span.input-group-addon Steam цена
                    input.form-control( type='number', placeholder='Введите ссылку на изображение', name='ngame_steamPrice' )
                br
                .input-group
                    span.input-group-addon Цена продажи
                    input.form-control( type='number', placeholder='Введите ссылку на изображение', name='ngame_sellPrice' )
                br
                .input-group
                    .checkbox
                        label
                            input( type='checkbox', name='ngame_isTwisted', checked=false )
                            | В подкрутке
            .box-footer
                button.btn.btn-info.pull-right#game_create Создать