extends ../layout/base
block content 

    script='var GAME = ' + locals.game.id

    section.content-header 
        h1= locals.game.title
        ol.breadcrumb 
            li 
                a(href='/management') 
                    i.fa.fa-dashboard Главная
            li
                a(href='/management/games') 
                    i.fa.fa-dashboard Пользователи
            li.active= locals.game.name
                
    
    section.content
        .row
            .col-md-5
                .box
                    .box-body.box-profile
                        img( style='width: 100%;', src=locals.game.image )
                        h3.profile-username.text-center= locals.game.title
                        p.text-center
                        | Осталось ключей: 
                        b= locals.game.keys ? locals.game.keys.length : 'Неизвестно'
                        a.btn.btn-default.btn-block(href='#', style='margin-top: 12px;') Управление ключами

            .col-md-7
                .box
                    .box-header
                        h3 Редактировать

                    .box-body
                        .has-error
                            .help-block#error
                        
                        .has-success
                            .help-block#success

                        .input-group
                            span.input-group-addon Название игры
                            input.form-control( type='text', placeholder='Введите название игры', name='game_title', value=locals.game.title )
                        br
                        .input-group
                            span.input-group-addon Ссылка на изображение
                            input.form-control( type='text', placeholder='Введите ссылку на изображение', name='game_image', value=locals.game.image )
                        br
                        .input-group
                            span.input-group-addon Картинка для лайф игр
                            input.form-control( type='text', placeholder='Введите ссылку на изображение', name='game_live_image', value=locals.game.liveImage )
                        br
                        .input-group
                            span.input-group-addon Steam страница
                            input.form-control( type='text', placeholder='Введите ссылку на изображение', name='game_steamPage', value=locals.game.steamPage )
                        br
                        .input-group
                            span.input-group-addon Steam цена
                            input.form-control( type='number', placeholder='Введите ссылку на изображение', name='game_steamPrice', value=locals.game.steamPrice )
                        br
                        .input-group
                            span.input-group-addon Цена продажи
                            input.form-control( type='number', placeholder='Введите ссылку на изображение', name='game_sellPrice', value=locals.game.sellPrice )
                        br
                        .input-group
                            .checkbox
                                label
                                    input( type='checkbox', name='game_isTwisted', checked=( locals.game.isTwisted || false ) )
                                    | В подкрутке
                    .box-footer
                        button.btn.btn-info.pull-right#game_update Сохранить