.row
  .col-xs-12
    .box
      .box-header
        h3.box-title= 'Таблица игр'

      .box-body.table-responsive
        table.table.table-bordered.table-hover
          tbody
            tr
              th ID
              th Название
              th Steam
              th Продажа
              th Количество ключей
              th Подкрутка
              th Редактировать
            each game in locals.games
                tr
                    td= game.id
                    td= game.title
                    - if( game.steamPage )
                        td
                            a( href=game.steamPage, target="_blank" )
                                span.label.label-success= game.steamPrice ? game.steamPrice : '$'
                    - else
                        td
                            span.label.label-default= game.steamPrice ? game.steamPrice : 'Не указано'
                            
                    td= game.sellPrice

                    td= game.keys ? game.keys.length : 'Неизвестно'    
                    td
                      - if( game.isTwisted )
                            span.label.label-success Активна
                      - else
                          span.label.label-default Отключена
                    td
                        .btn-group
                            a.btn.btn-default(type='button' href='/management/games/' + game.id )
                                i.fa.fa-edit
                            a.btn.btn-danger#game_delete( type='button' gameid=game.id )
                                i.fa.fa-trash( gameid=game.id )

        .box-footer.clearfix Привет
