doctype html
html
    head
        include header.pug
    body.hold-transition.skin-blue.sidebar-mini
        .wrapper
            include navigation.pug
            include sidebar.pug
            .content-wrapper
                block content
            include footer.pug
            include js.pug