script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js')
script(type='text/javascript', src='/adminlte/dist/js/pages/dashboard.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script( src="/assets/js/management.js" )
