header.main-header
    a(href='/').logo
        span.logo-mini
            <b>GOOD</b>GAMES
        span.logo-lg
            <b>GOOD</b>GAMES
    nav(role='navigation').navbar.navbar-static-top
        
        div.navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.messages-menu
                //-     a(href='#', data-toggle='dropdown').dropdown-toggle
                //-         i.fa.fa-envelope
                //-         span.label.label-success
                //-             | 4
                //-     ul.dropdown-menu
                //-         li.header
                //-             | You have 4 messages
                //-         li
                //-             ul.menu
                //-                 li
                //-                     a(href='#')
                //-                         .pull-left
                //-                             img(src='/adminlte/dist/img/user2-160x160.jpg',alt="User image").img-circle
                //-                         h4
                //-                             | Support Team
                //-                             small
                //-                                 i.fa.fa-clock='5 mins'
                //-                         p
                //-                             | Why not buy a new awesome theme?
                //-         li.footer
                //-             a(href='#')
                //-                 | See All Messages

                //- li.dropdown.notifications-menu
                //-     a(href='#',data-toggle='dropdown').dropdown-toggle
                //-         i.fa.fa-bell
                //-         span.label.label-warning
                //-             | 0
                //-     ul.dropdown-menu
                //-         li.header
                //-             | You have 10 notifications
                //-         li
                //-             ul.menu
                //-                 li
                //-                     a(href='#')
                //-                         i.fa.fa-users.text-aqua
                //-                         | 5 new members joined today
                //-         li.footer
                //-             a(href='#')
                //-                 | View All

                li.dropdown.user.user-menu
                    a(href='#',data-toggle='dropdown').dropdown-toggle
                        img(src= locals.authorized.avatar ).user-image
                        span.hidden-xs= locals.authorized.name
                    ul.dropdown-menu
                        li.user-footer
                            a.btn.btn-default.btn-flat(href='/auth/logout') Выход
