aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src=locals.authorized.avatar).img-circle
            .pull-left.info
                p= locals.authorized.name
                a(href='#')
                    i.fa.fa-circle.text-success= ' ' + locals.authorized.role

        //- form(action='#',method='get').sidebar-form
        //-     .input-group
        //-         input(type='text', name='q',placeholder='Search...').form-control
        //-         span.input-group-btn
        //-                 button(type='submit', name='search')#search-btn.btn.btn-flat
        //-                     i.fa-fa-search
        ul.sidebar-menu
            li.header Управление сайтом
            li
                a(href='/management')
                    i.fa.fa-th
                    span Главная
            li
                a(href='/management/users')
                    i.fa.fa-user
                    span Пользователи
                    //- span.pull-right-container
                    //-     small.label.pull-right.bg-green 3
            li
                a(href='/management/games')
                    i.fa.fa-gamepad
                    span Игры
                    //- span.pull-right-container
                    //-     small.label.pull-right.bg-green 3
            li
                a(href='/management/keys')
                    i.fa.fa-key
                    span Ключи
                    //- span.pull-right-container
                    //-     small.label.pull-right.bg-green 3
            li.header Прочее
            li
                a(href='/')
                    i.fa.fa-caret-right
                    span Перейти на сайт
                    //- span.pull-right-container
                    //-     small.label.pull-right.bg-green 3